
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
             
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> All Communitys</h4>
	                  	  	  <label  ><strong>Search for a specific community:</strong><input  class="form-control ng-pristine ng-valid ng-empty ng-touched" type="search" ng-model="query" placeholder="Search"></label>
                              <thead>
                              <tr >
                                  <th ><i class="fa fa-bullhorn"></i> Community </th>
                                  <th  class="hidden-phone"><i class="fa fa-question-circle"></i> Description</th>
                                  <th ><i class="fa fa-bookmark"></i> Creation Date</th>
                                  
                              
                                  
                                  
                              </tr>
                              </thead>
                              <tbody>
                                  
                              <tr ng-repeat="t in Communitys | filter: query">
                                  <td><a href="#/community/{{t._id}}">{{t.Name}}</a></td>
                                  <td class="hidden-phone">{{t.Description}}</td>
                                  <td>{{t.DateCreation}} </td>
                        
                                 
                                  <td> 
                          <a href="#/comm/{{t._id}}" class="btn btn-success">View Community</a>
                                      
                                      
                                      
                                      
                                  </td>
                                      </tr>
                              <td  >   <a href="#/photo" class="btn btn-success">View  Tweets Related to Community 1</a> </td>
                                <td >   <a href="#/gaming" class="btn btn-success">View  Tweets Related to Community 2</a> </td>
                                      <td >   <a href="#/git" class="btn btn-success">View  Tweets Related to Community 3</a> </td>
                                
                              </tbody>
                          </table>
                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                 
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
          </section>