
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> All Projects</h4>
	                  	  	  <label><strong>Search for a specific project:</strong><input  class="form-control ng-pristine ng-valid ng-empty ng-touched" type="search" ng-model="query" placeholder="Search"></label>
                              <thead>
                              <tr >
                                  <th><i class="fa fa-bullhorn"></i> Project Name </th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Description</th>
                                  <th><i class="fa fa-bookmark"></i> Ending Date</th>
                                  <th><i class="fa fa-bookmark"></i> Starting Date</th>
                            
                            
                                  
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="t in project | filter: query">
                                  <td><a href="#/community/{{t._id}}">{{t.Name}}</a></td>
                                  <td class="hidden-phone">{{t.Description}}</td>
                                  <td class="hidden-phone">{{t.StartingDate}}</td>
                                  <td class="hidden-phone">{{t.EndingDate}}</td>
                                 
                                  <label>
                        <input type="checkbox" ng-click="deleteProjet(project._id)"> 
                    </label>
                                  <td> 
                      <!--    <a href="#/comm/{{t._id}}" class="btn btn-success">View Project</a> -->
                                      
                                      </td>
                                  
                              </tr>
                          
                              </tbody>
                          </table>
                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
          </section>