
          <section class="wrapper">

              <div class="row">                 

                  <div class="col-lg-9 main-chart">
                      
                      
                <h3><i class="fa fa-angle-right"></i> <strong>All Communitys</strong> </h3> 
                  
           
                     
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                     <section class="wrapper"> 
                      
                            <! -- PROFILE 01 PANEL -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb" ng-repeat="t in Communitys">
							<div class="content-panel pn">
                                
								<div id="profile-01" style="background: url({{t.Image}}) no-repeat center top;">
									
									
								</div>
                                
								<div class="profile-01 centered">
								<p>	<a href="#/community/{{t._id}}"  >{{t.Name}}</a></p>
								</div>
                                
                                
								<div class="centered">
                                    <div class="row">
                                       <div class="col-sm-6 col-xs-8  " style="margin-top:15px" >
                                <p><i class="fa fa-heart"></i> {{t.Members.length}}</p>
                            </div>  
                                   
									<div class="col-xs-4"  >
										<button class="btn btn-sm btn-clear-g" style="margin-top:9px; margin-right:3px;" ng-click="subscribe(t)"><strong>(Un)Subscribe</strong></button>
									</div>
                                    </div>
								</div>
							</div>
						</div>
                  
                         
                      </section>
                      
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  
                  

                  
                  
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
        <!--              
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> All Teams</h4>
	                  	  	  
                              <thead>
                              <tr >
                                  <th><i class="fa fa-bullhorn"></i> Team </th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Description</th>
                                  <th><i class="fa fa-bookmark"></i> Creation Date</th>
                                  
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="t in teams">
                                  <td><a href="#/team/{{t._id}}">{{t.Name}}</a></td>
                                  <td class="hidden-phone">{{t.Description}}</td>
                                  <td>{{t.DateCreation}} </td>
                                  <td> 
                          <a href="#/team/{{t._id}}" class="btn btn-success">View Team</a>
                                      
                                      </td>
                                  
                              </tr>
                          
                              </tbody>
                          </table>
                          <a href="#/AddTeam" class="btn btn-primary btn-lg">Add New Team</a>
                      </div>
                  </div>
              </div>-->
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->
                      
                  
                      
<!--        *********************************************************************
                      Panel
        *********************************************************************-->
                     
                  
                  
            
                  
                     <!-- <a href="#/AddTeam" class="btn btn-primary btn-lg">Add New Team</a>-->
                      
                      
                      
<!--     *********************************************************************
                      End Panel
        *********************************************************************-->
					
				
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  
                                
                      <div class="col-lg-3 ds">
                      
                     
				
                      
                    <!--COMPLETED ACTIONS DONUTS CHART-->
						<h3>NOTIFICATIONS</h3>
                                        
                      <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>3 Hours Ago</muted><br/>
                      		   <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>7 Hours Ago</muted><br/>
                      		   <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fourth Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>11 Hours Ago</muted><br/>
                      		   <a href="#">Mark Twain</a> commented your post.<br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fifth Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>18 Hours Ago</muted><br/>
                      		   <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                      		</p>
                      	</div>
                      </div>

                       

                          
                     
                  </div><!-- /col-lg-3 -->
              
       <!--       ******************************************************
              
                                   END RIGHT SIDEBAR CONTENT
              
              ****************************************************-->
                  

              </div><! --/row -->
          </section>
      