
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> All tweets</h4>
	                  	  	  
                              <thead>
                            <!--  <tr ng-repeat="t in twitter" > -->
                                  <th><i class="fa fa-bullhorn"></i> tweets  </th>
                                 
                                  <td>{{gaming}}</td>
                              </tr>
                              </thead>
                              <tbody>
                              
                          
                              </tbody>
                          </table>
                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
          </section>
      