<section class="wrapper">

    <div class="row">
        <div class="col-lg-9 main-chart" style="padding-top: 0;">

            <div class="row mtbox" style="padding-top: 0;margin-top: 0;">

                <div style="height:220px; overflow:hidden ;position: relative;" ><img src="{{foundCommunity.Image}}" alt="" style="width:100%;padding: 0px 2px; position: absolute;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px; margin: auto;"/></div>
                <h3>{{foundCommunity.Name}}</h3>
                <p>{{foundCommunity.Description}}</p>
            </div><!-- /row mt -->

            <div class="row mt">
                <!-- COMMUNITY STATUS PANELS -->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn donut-chart">
                        <div class="white-header">
                            <h5>COMMUNITY LOAD</h5>
                        </div>
                        <div class="row">
                            <p><span class="small mt">Creation Date</span> </p>
                            <p><span class="small mt">{{foundCommunity.DateCreation}}</span></p>
                            <p><span class="small mt">TEAMS</span> {{teamsNbr}}</p>
                            <p><span class="small mt">MEMBERS</span> {{membersNbr}}</p>
                            <p><span class="small mt">PROJECTS</span> 11</p>
                        </div>
                    </div><! --/grey-panel -->
                </div><!-- /col-md-4-->


                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>TOP TEAM</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <p><i class="fa fa-heart"></i> 122</p>
                            </div>
                            <div class="col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="centered">
                            <img src="../www/img/iris.png" width="120" style="background-color: lightgray;">
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-4 mb">
                    <!-- WHITE PANEL - TOP USER -->
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>TOP USER</h5>
                        </div>
                        <p><img src="http://hazem-mhiri.info/images/team/team.jpg" class="img-circle" width="80"></p>
                        <p><b>Hazem M'hiri</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="small mt">MEMBER SINCE</p>
                                <p>2012</p>
                            </div>
                            <div class="col-md-6">
                                <p class="small mt">PROGRESSION POINTS</p>
                                <p>1870</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /col-md-4 -->

                <div class="row mt"  style="padding: 10px">
                    <div class="col-md-12 mb">
                        <div class="white-panel pn" style="height: auto;">
                            <div class="white-header">
                                 <h5>FEED</h5>
                            </div>
                            <div class="row">
                                <form class="form-horizontal style-form col-sm-10 col-sm-offset-1" method="get" role="form" ng-submit="shareTxt()">
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" placeholder="Share something with us !" ng-model="msgForShare">
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="submit" class="btn btn-round btn-default" value="Send"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio col-sm-1">
                                            <label>
                                                <button type="button" class="btn btn-default" ng-click="uploadImg()">
                                                    <span class="glyphicon glyphicon-camera"></span>
                                                </button>
                                            </label>
                                        </div>
                                        <div class="radio col-sm-1">
                                            <label>
                                                <button type="button" class="btn btn-default" ng-click="uploadVid()">
                                                    <span class="glyphicon glyphicon-film"></span>
                                                </button>
                                            </label>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div style="height: 650px; overflow-y: scroll; overflow-x: hidden">
                            <div class="form-group" ng-repeat="m in medias">
                                <div class="row">
                                    <div class="thumb col-sm-3 col-sm-offset-1">
                                        <i class="glyphicon glyphicon-time"></i>
                                        {{m.date}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-sm-offset-1">
                                        <img src="{{m.poster.Image}}" class="img-circle" width="60">
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>{{m.poster.FirstName}} {{m.poster.LastName}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <!--<div ng-bind-html="m.content.url | sanitize"></div>-->
                                        <div ng-if="m.type=='image'">
                                            <img width="70%" src="{{m.content.url}}" />
                                        </div>
                                        <div ng-if="m.type=='video'">
                                            <video width="70%" controls="">
                                                <source ng-src="{{m.content.url | trustUrl }}" type="video/mp4">
                                            </video>
                                        </div>
                                        <div ng-if="m.type=='text'">
                                            <p style="color:#424a5d;">{{m.content.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div><!-- /row -->

        </div><!-- /col-lg-9 END SECTION MIDDLE -->


        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->

        <div class="col-lg-3 ds">

            <h3>Community Members</h3>
            <!-- First Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-divya.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DIVYA MANIAN</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Second Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-sherman.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DJ SHERMAN</a><br/>
                        <muted>I am Busy</muted>
                    </p>
                </div>
            </div>
            <!-- Third Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-danro.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DAN ROGERS</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fourth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-zac.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">Zac Sniders</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fifth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-sam.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">Marcel Newman</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>

            <!-- First Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-divya.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DIVYA MANIAN</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Second Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-sherman.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DJ SHERMAN</a><br/>
                        <muted>I am Busy</muted>
                    </p>
                </div>
            </div>
            <!-- Third Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-danro.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">DAN ROGERS</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fourth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-zac.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">Zac Sniders</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>
            <!-- Fifth Member -->
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="../www/img/ui-sam.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">Marcel Newman</a><br/>
                        <muted>Available</muted>
                    </p>
                </div>
            </div>

        </div><!-- /col-lg-3 -->
    </div><! --/row -->
</section>
