<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> project Creation</h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                
                <form class="form-horizontal style-form" method="get" role="form" >
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="formData.Name" >
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="formData.Description" >
                        </div>
                    </div>
                    
                    

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label"> Starting Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control"  ng-model="formData.StartingDate">
                        </div>
                        
                    </div>
                      <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label"> Ending Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control"  ng-model="formData.EndingDate">
                        </div>
                        
                    </div>
                   
              
                    <div ng-show="changeSuccess" class="alert alert-success"><b>Well done!</b> You successfully added your Team.</div>
                    <div ng-show="changeError" class="alert alert-danger"><b>Error!</b> Sorry we could'nt save it ! Try again later.</div>
                    <input type="submit" ng-click="add()"class="btn btn-theme03" value="Save" />
                </form>
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->
</section>









