
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	<center> <h2><i class="fa fa-angle-right"></i> All Projets</h2>	 </center>  
							   <label><strong>GeT Projects</strong><input  class="form-control ng-pristine ng-valid ng-empty ng-touched" type="search" ng-model="query" placeholder="Search"></label>
	                  	  	  
                              <thead>
                              <tr >
                                  <th><i class="fa fa-bullhorn"></i> Name </th>
								  <th><i class="fa fa-bookmark"></i>Starting Date</th>                                
                                  <th><i class="fa fa-bookmark"></i>Ending Date</th>
								  <th><i class="fa fa-bullhorn"></i>Description</th>
                                  <th><i class="fa fa-bookmark"></i> Media Content</th>
                                  
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="t in Projet  | filter: query ">
                                  <td>{{t.Name}}</td>
								  <td>{{t.StartingDate}} </td>
								  <td>{{t.EndingDate}} </td>
                                  <td>{{t.Description}}</td> 
                                  <td>{{t.MediaContent}} </td>
								  
								  
                                  
                              </tr>
                          
                              </tbody>
                          </table>
						   <a href="#/addp" class="btn btn-primary btn-lg">Add Project</a>

                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
          </section>
      