{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table">

<th>Date</th>
<th>Content</th>
<th>Topic</th>
<th>User </th>


{% for b in posts %}

        <tr>
            <td>{{ b.Date }}</td>
            <td>{{ b.Content }}</td>
            <td>{{ b.Topic }}</td>
            <td>{{ b.User }}</td>
            
        </tr>
        {% endfor %}
    




    </table>
    <a href="/posts/ajout">Ajouter un commentaire</a>




    
{% endblock %}