{% extends 'layout.twig' %}

{% block content %}
   <fieldset>
       <legend>Posts</legend>

    <form action="/posts/store" method="post">
		
       <label for="Date">Date :</label> 
       <pre><input type="date" name="Date" placeholder="Date"></pre>
       
        <label for="Content">Content :</label>
        <pre><input type="text" name="Content" placeholder="Content"></pre>
		
        <label for="Topic">Topic  :</label> 
       <pre> <input type="text" name="Topic" placeholder="Topic"></pre>


 		<label for="User"> User :</label> 
       <pre>  <input type="User" name="User" placeholder="User"></pre>
        

      
        <input type="submit" value="Ajouter">
    </form>
    </fieldset>
{% endblock %}