{% extends 'layout.twig' %}

{% block content %}
    <div class="container">

        <div class="row">
            <form id="send-message">
                <div class="col-md-11">
                    <input size="35" id="message" class="form-control" autocomplete="off"/>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-success"/>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="chat"></div>
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        jQuery(function($){
            var socket = io.connect('#');
            var $messageForm = $('#send-message');
            var $messageBox = $('#message');
            var $chat = $('#chat');

            $messageForm.submit(function(e){
                e.preventDefault();
                socket.emit('send message', $messageBox.val());
                $messageBox.val('');
            });

            socket.on('new message', function(data){
                $chat.append(data + "<br/>");
            });
        });
    </script>

{% endblock %}