{% extends 'layout.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong>Analysis Complete !</strong> Please refer to the server log for details on the activated communities.
                </div>
            </div>
        </div>
    </div>
{% endblock %}