{% extends 'layout.twig' %}

{% block content %}


    <link href="/css/facebook.css" rel="stylesheet">
    



    {% for c in cont %}


    <!--<div class="fb">
        
        
      <h3>  {{c.message}} </h3>
        <img src={{c.picture}} class="img" />
        {{c.date}}
        
        
    </div>
    -->
    
    <section id="blocks">
                
                <div class="block">
                    
                    <h3>{{c.message}}</h3>
                   
                      <img src={{c.picture}}  />
                  
                    
                    <p>{{c.date}}</p>
                   
                </div>
           
            
            </section>
   
    

    {% endfor %}


{% endblock %}