<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iris Project</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar{border-radius: 0;}
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Iris DATA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li><a href="/data">Facebook-Feeds</a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/twitter">Twitter-Feeds</a></li>
                <li><a href="/topics">Forum-Topics</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/listpro">Projects</a></li>
				 <li><a href="/posts">Posts</a></li>
                
                
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $('.btn-danger').click(function(e){
            if(!confirm('Etes vous sur de retirer cet element?')){
                e.preventDefault();
            }
        });
    });
</script>
</body>
</html>