{% extends 'layout.twig' %}
{% block content %}
<h1> Tweets  </h1>
<div class="table-hover">
<table class = "table">
<thead><th>Results</th></thead>

{% for m in dataa %}
<tr>
<td>{{m}}</td>
</tr>
{% endfor %}
</table>
    </div>

{% endblock %}