{% extends 'layout.twig' %}

{% block content %}
    <a href="" ></a>
    <table class ="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Age</th>
            <th>Date Inscription</th>
                <th>Active</th>
                <th>Email</th>
                <th>Image</th>
                <th>Sexe</th>
                <th>Login</th>
                <th>Password</th>
                <th>Interest</th>
                <th>RewardPoints</th>
            </tr>
        </thead>
        <tbody>
            
            
            
              
        </tbody>
    </table>
{% endblock %}