{% extends 'layout.twig' %}

{% block content %}
   <fieldset>
       <legend>Projet</legend>

    <form action="/store" method="post">
       <label for="Name">Name :</label>   
       

       <input type="text" name="Name" placeholder="Ajouter un nom" /> 
       
        <label for="Description">Description :</label>  

        <pre><input type="text" name="Description" placeholder="DESCRIPTION"></pre>
        <label for="MediaContent">Media Content :</label> 


       <pre> <input type="text" name="MediaContent" placeholder="Media"></pre>


 <label for="StartingDate">Starting Date :</label> 
      <pre>  <input type="date" name="StartingDate" placeholder="date debut"></pre>
        
 <label for="EndingDate">Ending Date :</label> 
       <pre><input type="date" name="EndingDate" placeholder="date fin"></pre>
      
        <input type="submit" value="Ajouter">
    </form>
    </fieldset>
{% endblock %}