{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <a href="/create">Ajouter un projet</a>

    <table class="table">

<th>Name</th>
<th>Description</th>
<th>Starting Date</th>
<th>Ending Date</th>
<th>Media Content</th>

{% for c in projects %}

        <tr>
            <td>{{ c.Name }}</td>
            <td>{{ c.Description }}</td>
            <td>{{ c.StartingDate }}</td>
            <td>{{ c.EndingDate }}</td>            
            <td>{{ c.MediaContent }}</td>
        </tr>
        {% endfor %}
    




    </table>




    
{% endblock %}