body{
    margin: 0;
    padding: 0;
}



#blocks{

height: auto;
display: inline-block;
width: 500px;
   /* padding-left: 80px;*/
}

#blocks .block{
width: 300px;
float: left;
margin-left: 100px;
}
#blocks .carre{
width: 100px;
height: 100px;
background-color: #d71688;
border-radius: 50px;
margin: 0 auto;
}

#blocks .carre.tv{
background-color: orange;
}

#blocks .carre.mobile{
background-color: #76d411;
}

#blocks .block img{
margin-top: 25px;
margin-left: 15px;
width: 350px;
height: 350px;
}

#blocks .block h3{
text-align: center;
font-family: Trebuchet MS;
font-size: 15px;
color: #b71465;
}





