<div ng-controller="SendMailCtrl">
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                         
						  <td>Mail Envoye avec succes</td>

                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
          </section >
			  </div>
	</div>
      