doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/jquery.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    script(src='/javascripts/global.js')

    h1= title
    #loading
      p position utilisateur
    br
    #map
 
  
