
          <section class="wrapper">

              <div class="row">
       
                  <div class="col-lg-9 main-chart">
                      
                      
                           
             
                     
                      
                   
                      
                 <!--     ********************************************************************
                      
                                                    Table 
                      ********************************************************************                      
                      -->
                      
                      
                      
                      
                      
                      
                      
                      
                          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> All Posts</h4>
	                  	  	  
                              <thead>
                              <tr >
                                  <th><i class="fa fa-bullhorn"></i> Date </th>
								  <th><i class="fa fa-bookmark"></i>Content</th>                                
                                  <th><i class="fa fa-bookmark"></i>Topic</th>
								  <th><i class="fa fa-bullhorn"></i>User</th>
                                 
                                  
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="t in Posts">
                                  <td>{{t.Date}}</td>
								  <td>{{t.Content}} </td>
								  <td>{{t.Topic}} </td>
                                  <td>{{t.User}}</td> 
								  
								  
                                  
                              </tr>
                          
                              </tbody>
                          </table>
			       <a href="#/AllPosts" class="btn btn-primary btn-lg">Add New Post</a>

                         
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
                      
                      
                      
                      <!--     ********************************************************************
                      
                                                   End Table 
                      ********************************************************************                      
                      -->


              </div><! --/row -->
      