
<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Profile</h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Settings</h4>
                <form class="form-horizontal style-form" method="get" role="form" ng-submit="updateUser()">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="foundUsr.Login" value="{{foundUsr.Login}}">
                        </div>
                    </div>

                    <div class="form-group has-warning" ng-show="pwdWarning">
                        <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Old Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputWarning" ng-model="oldPwd" ng-change="checkPwd()" placeholder="Only if you need to change your password">
                        </div>
                    </div>

                    <div class="form-group has-success" ng-show="pwdSuccess">
                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Old Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputSuccess" value="{{oldPwd}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">New Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="disabledInput" type="password" placeholder="Insert your old password first." ng-model="foundUsr.Password" ng-disabled="pwdDisabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Profile Image</label>
                        <div class="col-sm-2">
                            <button type="button" id="constructed-widget" class="btn btn-default" ng-click="upload()">
                                Upload <span class="caret"></span>
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{foundUsr.Picture.url}}" ng-if="foundUsr.Picture">
                                <img ng-src="{{foundUsr.Picture.url | fpConvert: {filter:'sharpen'} }}" class="img-circle" width="100">
                            </a>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <p class="form-control-static">{{foundUsr.Email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{foundUsr.FirstName}}" ng-model="foundUsr.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{foundUsr.LastName}}" ng-model="foundUsr.LastName">
                        </div>
                    </div>
                    <div ng-show="changeSuccess" class="alert alert-success"><b>Well done!</b> You successfully changed your profile informations.</div>
                    <div ng-show="changeError" class="alert alert-danger"><b>Error!</b> Sorry we could'nt save your changes. Try again later.</div>
                    <input type="submit" class="btn btn-theme03" value="Save changes" />
                </form>
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->
</section>